<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .cell {
            width: 100px;
            height: 100px;
            font: 25px sans-serif;
            text-align: center;
            vertical-align: center;
        }

        .Center {
            margin-top: 50px;
            margin-left: 500px;
        }
    </style>

</head>
<body>
    <table border="1" style="margin-left:500px;margin-top:100px;">

        <tr class="cell" style="color:red">
            <td style="width:100px">User</td>
            <td style="width:100px">Played</td>
            <td style="width:100px">Win</td>
            <td style="width:100px">Loss</td>
            <td style="width:100px">Tie</td>
        </tr>
        <tr ng-repeat="user in UserInfo" class="cell">
            <td style="color:blue">{{user.UserName}}</td>
            <td>{{user.GamesPlayed}}</td>
            <td>{{user.Win}}</td>
            <td>{{user.Loss}}</td>
            <td>{{user.Tie}}</td>

        </tr>


    </table>
</body>
</html>
